.background-color {
    background: #289BDE;
}
.my-color {
    color:#289BDE ;
}

.companies-logo img{
    margin-top: 25px;
        margin-right: 20px;
        width: 100px;
        height: auto;
        margin-left: 70px;
}

  .banner-header{
        font-size: ;
  }
