.background-color {
    background: #289BDE;
}

.companies-logo img{
    margin-top: 25px;
        margin-right: 20px;
        width: 100px;
        height: auto;
        margin-left: 70px;
}

  .banner-header{
        font-size: ;
  }
.navbar-brand img {
    width: 300px;
}